 .banner{
    width: 100%;
    height: 100vh;
    background-image:url(background.jpg);
    background-size: cover;
    background-position: center;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size: 20px;
        line-height: 35px;
        font-weight: bold;
        padding: 10px;
.navbar{
    width: 85%;
    margin: auto;
  padding-top: 0%;
    display: flex;
    align-items: center;
    justify-content: space-between;


}
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}
.navbar ul li a{ text-decoration: none;
    color: rgb(249, 11, 213);
    text-transform: uppercase;

}
.navbar ul li::after{
    content: '';
    height: 2px;
    width: 0;
    background: #f00cddbc;
    position: absolute;
    left: 0;
    bottom: -10px; 
    transition: 0.5s;

}
.navbar ul li:hover::after{
    width: 100%;
}
.content{
    width: 100%;
    position: absolute;
    transform: translateY(-50%);
    text-align: center;
    color: rgb(21, 74, 249);
}
.content h1{
    font-size: 70px;
    margin-top: 80px;
}
.frame1 { 
    float: left;
    width: 220;
    height: 150px;
    border: 3px solid #c223c2;
    background-color: #f00cddbc;
    margin: auto;
    padding: 10px 15px;
    opacity: 0.8;
}

  .container {
    display: flex;
    width: 100%;
    padding: 4% 2%;
    box-sizing: border-box;
    height: 70vh;
  }
  
  .box { 
    
    flex: 1;
    overflow: hidden;
    transition: .5s;
    margin: 0 2%;
    box-shadow: 0 20px 30px rgba(0,0,0,.1);
    line-height: 0;
  }
  
  .box > img {
    width: 200px;
    height: calc(100% - 10vh);
    object-fit: cover; 
    transition: .5s;
  }
  
  .box > span {
    font-size: 3vh;
    display: block;
    text-align: center;
    height: 10vh;
    line-height: 2;
  }
  
  .box:hover { flex: 1 1 50%; }
  .box:hover > img {
    width: 400px;
    height: 300px;
  }
.container .box span{
    color: pink;
    
}